<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} @ {{ site.title }}</title>
	<link rel="stylesheet" href="/css/styles.css" />
	<link href="http://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
	<header>
		<h1>Cool bot says:</h1>
		<nav>
			<ul class="nav">
				<li><a href="/index.html">home</a></li>
				<li><a href="/menu.html">menu</a></li>
				<li><a href="/location.html">location</a></li>
				<li><a href="/about.html">about</a></li>
				<li><a href="/contact.html">contact</a></li>
				<li><a href="/blog.html">blog</a></li>
			</ul>
		</nav>
	</header>